<div class="al-container d-records">
  <p-dataTable class="al-left al-table" [value]="records" [loading]="recordsLoading">
    <p-column header="Document With This Type">
      <ng-template let-col let-dt="rowData"  pTemplate="body">
        <span>{{getDocumentRecordName(dt.document_id)}}</span>
      </ng-template>
    </p-column>
    <p-column header="Actions" [style]="{'width':'250px'}">
      <ng-template let-col let-dt="rowData"  pTemplate="body">
        <div class="toolbar-column" >
          <span class="with-icon fa fa-eye" [routerLink]="['/training/labeling', dt.document_id]" >view</span>
          <span class="with-icon fa fa-trash" (click)="removeDTEntrie(dt)">remove</span>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
