<div class="al-container notable-matters">
  <button class="btn btn-primary al-button" (click)="newNotableMatter()">New Notable Matter</button>

  <p-dataTable class="al-left al-table" [value]="notableMatters" [loading]="notableMattersLoading">
    <p-column field="name" header="Notable Matters"></p-column>
    <p-column header="Transaction Type">
      <ng-template let-col let-dt="rowData"  pTemplate="body">
        <span>{{getTransactionName(dt)}}</span>
      </ng-template>
    </p-column>
    <p-column header="Actions" [style]="{'width':'250px'}">
      <ng-template let-col let-dt="rowData"  pTemplate="body">
        <div class="toolbar-column" >
          <span class="with-icon fa fa-pencil" (click)="editNotableMatter(dt)">edit</span>
          <span class="with-icon fa fa-trash" (click)="removeNotableMatter(dt)">remove</span>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>

  <!--MODAL DIALOG-->
  <p-dialog class="al-dialog"
            [(visible)]="showTypeEditWindow"
            [resizable]="false"
            [showHeader]="false"
            [modal]="true"
            [dismissableMask]="true">
    <form>
      <div class="al-label-with-input">
        <label for="nameId">Name</label>
        <input type="text" id="nameId" name="name" class="al-input form-control" [(ngModel)]="selectedNotableMatter.name">
      </div>
      <div class="al-label-with-input">
        <label for="tTypeId">Transaction Type</label>
        <p-dropdown
          id="tTypeId"
          class="al-dropdown w360"
          [autoWidth]="false"
          [options]="transactionTypes"
          [(ngModel)]="selectedTransactionType"
          name="transactionType"
          placeholder="Transaction Type">
        </p-dropdown>
      </div>
      <div class="al-definition">
        <div class="al-label-with-input">
          <label class="with-textarea" for="definitionId">Definition</label>
          <div class="al-editor" id="definitionId" [innerHTML]="selectedNotableMatter.displayDefinition" ></div>
        </div>
        <div class="toolbar">
          <p-dropdown
            class="al-dropdown w150"
            [autoWidth]="false"
            [options]="provisions"
            [(ngModel)]="selectedProvision"
            (onBlur)="selectedProvision=undefined"
            (onChange)="insertProvision(selectedProvision)"
            name="pprovision"
            placeholder="Provisions">
          </p-dropdown>

          <button class="btn" *ngFor="let operatorName of ['AND', 'OR', 'NOT', '( )', 'Clear']" (click)="insertLogicalOperator(operatorName)">{{operatorName}}</button>
        </div>
      </div>

      <div class="al-label-with-input">
        <label class="with-textarea" for="commentsId">Comments</label>
        <textarea type="text" id="commentsId" name="comments" class="al-input form-control" [(ngModel)]="selectedNotableMatter.comments"></textarea>
      </div>
      <button class="btn btn-primary al-button" (click)="saveNotableMatter(selectedNotableMatter)" >
        {{selectedNotableMatter?.id ? 'Save Notable Matter' : 'Create New Notable Matter'}}
      </button>
    </form>
  </p-dialog>
</div>
