<div class="al-container types">
  <button class="btn btn-primary al-button" (click)="newDocumentType()">New Document Type</button>

  <p-dataTable class="al-left al-table" [value]="documentTypes" [loading]="documentTypesLoading">
    <p-column field="name" header="Document Type"></p-column>
    <p-column header="Actions" [style]="{'width':'350px'}">
      <ng-template let-col let-dt="rowData" pTemplate="body">
        <div class="toolbar-column">
          <span class="with-icon fa fa-gears" *ngIf="!dt.has_latest_model" (click)="retrainDocumentType(dt)">re-train</span>
          <span class="with-icon fa fa-pencil" (click)="editDocumentType(dt)">edit</span>
          <span class="with-icon fa fa-trash" (click)="removeDocumentType(dt)">remove</span>
          <span class="with-icon fa fa-file-word-o" [routerLink]="['/training/document-types', dt.id]">records</span>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>

  <!--MODAL DIALOG-->
  <p-dialog class="al-dialog"
            [(visible)]="showTypeEditWindow"
            [resizable]="false"
            [showHeader]="false"
            [modal]="true"
            [dismissableMask]="true">
    <form>
      <div class="al-label-with-input">
        <label for="nameId">Name</label>
        <input type="text" class="al-input form-control" id="nameId" name="name" [(ngModel)]="selectedType.name">
      </div>
      <button class="btn btn-primary al-button" (click)="saveDocumentType(selectedType)">
        {{selectedType?.id ? 'Save Document Type' : 'Create New Document Type'}}
      </button>
    </form>
  </p-dialog>
</div>
