<div class="al-container list">
  <button class="btn btn-primary al-button" (click) = "fileInput.click()">Upload One or More Documents</button>

  <input style="display: none;" #fileInput (change)="fileChange($event)" type="file" accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf" multiple />

  <p-dataTable class="al-table al-left" [value]="fileList" [loading]="fileListIsLoading">
    <p-column field="name" header="Name"></p-column>
    <p-column header="Actions" [style]="{'width':'250px'}">
      <ng-template let-col let-fl="rowData"  pTemplate="body">
        <div class="upload-progress" *ngIf="fl.isUploading">
          <div class="progress" style="margin-bottom: 0;">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': fl.progress + '%' }"></div>
          </div>
          <p>{{fl.progress}}%</p>
        </div>

        <div *ngIf="!fl.file || fl.isSuccess" class="toolbar-column" >
          <span class="with-icon fa fa-tag" (click)="label(fl)">label</span>
          <span class="with-icon fa fa-trash" (click)="remove(fl)">remove</span>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
