@import '../../../../assets/styles/variables.scss';

.progress {
  width: 80%;
  display: inline-block;
}
.upload-progress {
  p {
    display: inline-block;
    vertical-align: top;
  }
  span.fa {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
  }
}
.al-container.list {
  text-align: center;
}
