<div class="al-container upload">
  <div ng2FileDrop
       [ngClass]="{'file-over': hasDropZoneOver, 'almond-disabled': analyseButtonDisabled}"
       (fileOver)="fileOver($event)"
       [uploader]="uploader"
       (click) = "!analyseButtonDisabled && fileInput.click()"
       class="file-drop-zone">
    <img src="assets/images/format.jpg">
    <label>Upload</label>
  </div>

  <input style="display: none;" #fileInput type="file" ng2FileSelect [uploader]="uploader" multiple  />
  <p-dataTable class="al-table al-left" [value]="filesToUpload" *ngIf="filesToUpload.length">
    <p-footer>
      <p-progressBar [value]="progress"></p-progressBar>
    </p-footer>
    <p-column field="name" header="Name"></p-column>
    <p-column header="Actions"  [style]="{'width':'250px'}" styleClass="text-right">
      <ng-template let-col let-fl="rowData" let-i="rowIndex" pTemplate="body">
        <span class="with-icon fa fa-trash" (click)="!analyseButtonDisabled && removeFile(i)" [ngClass]="{'almond-disabled': analyseButtonDisabled}" >remove</span>
      </ng-template>
    </p-column>
  </p-dataTable>

  <button
    class="btn btn-primary al-button begin-analys"
    (click)="beginAnalysis()"
    [disabled]="!filesToUpload.length || analyseButtonDisabled">Begin Analysis</button>
</div>


