@import '../../../../assets/styles/variables.scss';

.file-over {
  border: 3px dashed $al-blue !important;
}
.file-drop-zone {
  margin: 5% auto;
  border-radius: 15px;
  font-weight: bold;
  border: $al-thin-border;
  padding: 12px;
  width: 450px;
  text-align: left;
  > img {
    height: 80px;
  }
  > label {
    width: calc(100% - 100px);
    text-align: center;
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
  }
}
.al-container.upload {
  text-align: center;
}
.al-button.begin-analys {
  width: 450px;
}
span.done {
  padding: 5px;
  border-radius: 5px;
}

.upload-progress > div, .upload-progress > p {
  display: inline-block;
  vertical-align: middle;
}
