<div class="al-container types">
  <button class="btn btn-primary al-button" (click)="newTransactionType()">New Transaction Type</button>

  <p-dataTable class="al-left al-table" [value]="transactionTypes" [loading]="transactionTypesLoading">
    <p-column field="name" header="Transaction Type"></p-column>
    <p-column header="Actions" [style]="{'width':'250px'}">
      <ng-template let-col let-dt="rowData"  pTemplate="body">
        <div class="toolbar-column" >
          <span class="with-icon fa fa-pencil" (click)="editTransactionType(dt)">edit</span>
          <span class="with-icon fa fa-trash" (click)="removeTransactionType(dt)">remove</span>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>

  <!--MODAL DIALOG-->
  <p-dialog class="al-dialog"
            [(visible)]="showTypeEditWindow"
            [resizable]="false"
            [showHeader]="false"
            [modal]="true"
            [dismissableMask]="true">
    <form>
      <div class="al-label-with-input">
        <label for="nameId">Name</label>
        <input type="text" id="nameId" name="name" class="al-input form-control" [(ngModel)]="selectedType.name">
      </div>
      <div class="al-definition">
        <div class="al-label-with-input">
          <label class="with-textarea" for="definitionId">Definition</label>
          <div class="al-editor" id="definitionId" [innerHTML]="selectedType.displayDefinition" ></div>
        </div>
        <div class="toolbar">
          <p-dropdown
            class="al-dropdown w150"
            [autoWidth]="false"
            [options]="availableDocumentTypes"
            [(ngModel)]="selectedDocumentType"
            (onChange)="insertDocumentType(selectedDocumentType)"
            (onBlur)="selectedDocumentType=undefined"
            (onFocus)="onDropdownFocus()"
            name="documentType"
            placeholder="Document Type">
          </p-dropdown>


          <button class="btn" *ngFor="let operatorName of ['AND', 'OR', 'NOT', '( )', 'Clear']" (click)="insertLogicalOperator(operatorName)">{{operatorName}}</button>
        </div>
      </div>
         <button class="btn btn-primary al-button" (click)="saveTransactionType(selectedType)">
        {{selectedType?.id ? 'Save Transaction Type' : 'Create New Transaction Type'}}
      </button>
    </form>
  </p-dialog>
</div>
