<div class="row sections al-container al-margin-top">
  <div class="col-xs-4 no-float" [ngStyle]="{'height': textLevelHeight + 'px'}">

    <a class="al-back-btn btn btn-primary btn-sm fa fa-arrow-left" [routerLink]="['/analyze']">Go to result page</a>
    <div class="panel panel-default">
      <div class="panel-heading almond-blue-background">Topics in all documents</div>
      <div class="panel-body tree">
        <p-treeTable [value]="topicsTree" styleClass="tree-table-no-header">
          <p-column>
            <ng-template let-col let-node="rowData" let-i="rowIndex" pTemplate="body">
              <div class="text-with-button">
                <label  class=" col-xs-10">{{getTopicName(node.data.topic_id)}}</label>
                <a class="btn btn-warning btn-xs pull-right  col-xs-2" (click)="selectTopic(node.data)">View</a>
              </div>
            </ng-template>
          </p-column>
        </p-treeTable>
      </div>
    </div>

  </div>
  <div class="col-xs-8 right-document-content" [ngStyle]="{'height': textLevelHeight + 'px'}">
    <div [innerHtml]="contextToShow"></div>
  </div>
</div>
