<div class="row sections al-container al-margin-top">
  <div class="col-xs-4 no-float" [ngStyle]="{'height': textLevelHeight + 'px'}">
    <a class="al-back-btn btn btn-primary btn-sm fa fa-arrow-left" [routerLink]="['/analyze']">Go to result page</a>
    <div class="panel panel-default">
      <div class="panel-heading almond-blue-background">This is a</div>
      <div class="panel-body" *ngFor="let documentTypeId of documentInfo?.document_type_ids">
        <span>{{getDocumentTypeName(documentTypeId)}}</span>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading almond-blue-background">Topics in <b>{{documentInfo?.file_name}}</b></div>
      <div class="panel-body tree">
        <p-treeTable [value]="topicsTree" styleClass="tree-table-no-header">
        <p-column>
          <ng-template let-col let-node="rowData" let-i="rowIndex" pTemplate="body">
            <div class="text-with-button">
              <label  class=" col-xs-10">{{getTopicName(node.data.topic_id)}}</label>
              <a class="btn btn-warning btn-xs pull-right  col-xs-2" (click)="highlightText(node.data.contexts)">View</a>
            </div>
          </ng-template>
        </p-column>
        </p-treeTable>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading almond-blue-background">Notable Matters in <b>{{documentInfo?.file_name}}</b></div>
      <div class="panel-body">
        <div *ngFor="let nm of documentInfo?.notableMatters" class="text-with-button">
          <label  class=" col-xs-10">{{getNotableMatterName(nm.notable_matter_id)}}</label>
          <a class="btn btn-warning btn-xs pull-right  col-xs-2" (click)="highlightText(nm.contexts)">View</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-8 right-document-content" [ngStyle]="{'height': textLevelHeight + 'px'}">
    <app-pdf-view (onInit)="onPdfInit($event)" (mouseup)="textSelected($event)"></app-pdf-view>
  </div>
</div>
