@import "../../../../assets/styles/variables";

.sections > div {
  overflow: hidden;
  overflow-y: auto;
}

.sections > .col-xs-4 {
  margin-top: 25px;
  min-width: 350px;
}

.tree .text-with-button {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  background-color: $al-blue_30;
  padding: 5px;
  a {
    position: absolute;
    width: 45px;
    right: 2%;
    margin-top: 1px;
  }
  label {
    overflow: hidden;
    max-width: calc(100% - 45px) !important;
  }
}
