@import '../../../../assets/styles/variables.scss';

.html-viewer {
  padding: 10px;
  height: 100%;
  margin: 0;
  overflow: auto;
  display: inline-block;
  text-align: left;
}
.provision-popup-list {
  text-align: center;
  margin-bottom: 10px;
  > button {
    margin-top: 10px;
  }
  > .item {
    border: $al-thin-border;
    padding: auto 10px;
    border-radius: 10px;
    margin: 5px auto;
  }
}
.al-dialog {
  text-align: center;
}
.text-level {
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.document-level {
  display: inline-block;
  vertical-align: top;
  overflow-y: auto;
}
.action-control {
  width: 200px;
  min-height: 100px;
  border: $al-thin-border;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
  margin: 5px;
  vertical-align: top;
  > button {
    display: block;
    margin: 10px auto;
  }
  .label-item {
    border: $al-thin-border;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    > button {
      float: right;
    }
    > span {
      display: inline-block;
      width: 85%;
      overflow: hidden;
    }
  }
  .alone {
    width: 100%;
  }
  > .al-label {
    font-size: 12px;
    font-weight: normal;
    padding: 1px 10px;
  }
  .btn-remove {
    background-color: #d25f5f;
    color: white;
  }
}
.select-document-type {
  width: 200px;
}

