<div class="al-container labeling al-margin-top container-fluid">
  <div class="row">
    <div class="document-level col-xs-4" [ngStyle]="{'height': textLevelHeight + 'px'}">

      <div *ngIf="file" class="action-control">
        <div *ngFor="let dt of DTTEContainer?.list; let ind = index;" class="label-item">
          <span>{{getDocumentTypeName(dt.document_type_id)}}</span>
          <button class="btn btn-xs" (click)="DTTEContainer.remove(dt)">-</button>
        </div>
        <button (click)="showAvailableDocumentTypes($event)" class="btn btn-xs">+</button>
        <button class="alone btn btn-primary btn-xs" (click)="applyDocumentTypes()" >Apply Document Types</button>
      </div>

      <div *ngFor="let provisionRecord of provisionRecords" class="action-control">
        <div class="label-item">
          <span>{{provisionRecord.selected_text | slice:0:40}}</span>
        </div>
        <label class="al-label">Labeled As:</label>
        <label>
          <span *ngFor="let provisionId of provisionRecord.for_provisions; let ind = index;">{{(ind !== 0)? ', ': ' '}}{{getProvisionName(provisionId)}}</span>
        </label>

        <button class="alone btn btn-da  nger btn-xs btn-remove" (click)="removeProvisionRecord(provisionRecord.id)" >Remove</button>
        <button class="alone btn btn-primary btn-xs" (click)="navigateToSee(provisionRecord.coords)">Navigate to See</button>
      </div>
    </div>
    <div class="text-level col-xs-8" [ngStyle]="{'height': textLevelHeight + 'px'}">
      <div class="html-viewer" (mouseup)="textSelected($event)">
        <app-pdf-view (onInit)="onPdfInit($event)"></app-pdf-view>
      </div>
    </div>
  </div>



  <!--PROVISION POPUP-->
  <p-dialog class="al-dialog"
            [(visible)]="showProvisionPopup"
            [resizable]="false"
            [showHeader]="false"
            [positionLeft]="popupLef"
            [positionTop]="popupTop"
            [modal]="true"
            [dismissableMask]="true">
    <div class="provision-popup-list" >
      <div class="item" *ngFor="let provisionId of newProvisionRecord?.for_provisions; let ind = index;">{{getProvisionName(provisionId)}}</div>
      <button (click)="showAvailableProvisions($event)" class="btn btn-xs">+</button>
    </div>
    <button class="btn btn-primary btn-xs" (click)="applyProvisionType()">Apply Provision Types</button>
  </p-dialog>

  <!--PROVISION RECORDS-->
  <p-dialog class="al-dialog document-type"
            [(visible)]="showProvisionListPopup"
            [resizable]="false"
            [showHeader]="false"
            [positionLeft]="popupLef"
            [positionTop]="popupTop"
            [modal]="true"
            [responsive]="false"
            [dismissableMask]="true">
    <div class="select-document-type">
      <p-dataTable class="al-left al-table document-type"
                   [value]="availableProvisions"
                   [rowHover]="true"
                   [scrollable]="true" scrollHeight="200px"
                   (onRowClick)="addProvision($event)">
        <p-column field="name" header="Select Provision"></p-column>
      </p-dataTable>
    </div>
  </p-dialog>

  <!--DOCUMENT TYPE-->
  <p-dialog class="al-dialog document-type"
            [(visible)]="showDocumentTypePopup"
            [resizable]="false"
            [showHeader]="false"
            [positionLeft]="dPopupLef"
            [positionTop]="dPopupTop"
            [modal]="true"
            [responsive]="false"
            [dismissableMask]="true">
    <div class="select-document-type">
      <p-dataTable class="al-left al-table document-type"
                   [value]="availableDocumentTypes"
                   [rowHover]="true"
                   [scrollable]="true" scrollHeight="200px"
                   (onRowClick)="addDocumentType($event)">
        <p-column field="name" header="Select Document Type"></p-column>
      </p-dataTable>
    </div>
  </p-dialog>
</div>
