<router-outlet></router-outlet>

<!--Full page preloader-->
<div *ngIf="messagebox.fullPreloader" class="full-preloader">
  <img src="assets/images/full-loader.gif">
  <label>{{messagebox.fullPreloaderMessage}}</label>
</div>
