@import '../assets/styles/variables.scss';

.full-preloader {
  position: fixed;
  color: $white;
  text-align: center;
  width: 100%;
  height: 100%;
  background: $black_50;
  top: 0px;
  left: 0;
  > img {
    display: block;
    margin: 25% auto 10px auto;
    width: 70px;
  }
}
