<div class="al-container provisions">
  <button class="btn btn-primary al-button" (click)="newProvisionType()">New Provision</button>

  <p-dataTable class="al-left al-table" [value]="provisions" [loading]="provisionsLoading">
    <p-column field="name" header="Provisions"></p-column>
    <p-column header="Transaction Type">
      <ng-template let-col let-dt="rowData"  pTemplate="body">
        <span>{{getTransactionName(dt)}}</span>
      </ng-template>
    </p-column>
    <p-column header="Actions" [style]="{'width':'350px'}">
      <ng-template let-col let-dt="rowData"  pTemplate="body">
        <div class="toolbar-column" >
          <span class="with-icon fa fa-gears" *ngIf="!dt.has_latest_model" (click)="retrainProvisionType(dt)" >re-train</span>
          <span class="with-icon fa fa-pencil" (click)="editProvision(dt)">edit</span>
          <span class="with-icon fa fa-trash" (click)="removeProvision(dt)">remove</span>
          <span class="with-icon fa fa-file-word-o" [routerLink]="['/training/provisions', dt.id]">records</span>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>

  <!--MODAL DIALOG-->
  <p-dialog class="al-dialog"
            [(visible)]="showTypeEditWindow"
            [resizable]="false"
            [showHeader]="false"
            [modal]="true"
            [dismissableMask]="true">
    <form>
      <div class="al-label-with-input">
        <label for="nameId">Name</label>
        <input type="text" id="nameId" name="name" class="al-input form-control" [(ngModel)]="selectedProvision.name">
      </div>
      <div class="al-label-with-input">
        <label for="tTypeId">Transaction Type</label>
        <p-dropdown
          id="tTypeId"
          class="al-dropdown w300"
          [autoWidth]="false"
          [options]="transactionTypes"
          [(ngModel)]="selectedTransactionType"
          (onFocus)="onTransactionDropdownFocus()"
          name="transactionType"
          placeholder="Transaction Type">
        </p-dropdown>
      </div>
      <div class="al-label-with-input">
        <label for="dTypeId">Document Type*</label>
        <p-dropdown
          id="dTypeId"
          class="al-dropdown w300"
          [autoWidth]="false"
          [options]="documentTypes"
          [(ngModel)]="selectedDocumentType"
          (onFocus)="onDTDropdownFocus()"
          name="documentType"
          placeholder="Document Type">
        </p-dropdown>
      </div>
      <div class="al-label-with-input">
        <label for="pParentId">Child of*</label>
        <p-dropdown
          id="pParentId"
          class="al-dropdown w300"
          [disabled]="isParentProvision.length"
          [autoWidth]="false"
          [options]="availableProvisions"
          [(ngModel)]="selectedParentProvision"
          (onFocus)="onParentDropdownFocus()"
          name="parentProvision"
          placeholder="Select Parent Provision">
        </p-dropdown>
      </div>
      <p-selectButton [style]="{'float': 'left'}" [options]="[{label: 'Is Parent Provision', value: 'isParentProvision'}]" [(ngModel)]="isParentProvision" name="isParentProvision" multiple="multiple"></p-selectButton>

      <button class="btn btn-primary al-button" (click)="saveProvision(selectedProvision)" >
        {{selectedProvision?.id ? 'Save Provision' : 'Create New Provision'}}
      </button>
    </form>
  </p-dialog>
</div>
