<div class="top-menu">
  <a class="btn btn-link" [routerLink]="['/']" >Analyser</a>
  <a class="btn btn-link" [routerLink]="['/training']" >Upload documents</a>
  <a class="btn btn-link" [routerLink]="['document-types']">Document types</a>
  <a class="btn btn-link" [routerLink]="['transaction-types']">Transaction types</a>
  <a class="btn btn-link" [routerLink]="['provisions']">Provisions</a>
  <a class="btn btn-link" [routerLink]="['topics']">Topics</a>
  <a class="btn btn-link" [routerLink]="['notable-matters']" >Notable Matters</a>
</div>


<router-outlet></router-outlet>
