<div class="top-menu">
  <a class="btn btn-link" [routerLink]="['/']" >Upload documents</a>
  <a class="btn btn-link" [routerLink]="['/training']" >Trainer</a>
</div>

<router-outlet></router-outlet>
