<div class="al-container topics">
  <button class="btn btn-primary al-button" (click)="newTopic()">New Topic</button>

  <p-dataTable class="al-left al-table" [value]="topics" [loading]="topicsLoading">
    <p-column field="name" header="Topics"></p-column>
    <p-column header="Transaction Type">
      <ng-template let-col let-dt="rowData"  pTemplate="body">
        <span>{{getTransactionName(dt)}}</span>
      </ng-template>
    </p-column>
    <p-column header="Actions" [style]="{'width':'250px'}">
      <ng-template let-col let-dt="rowData"  pTemplate="body">
        <div class="toolbar-column" >
          <span class="with-icon fa fa-pencil" (click)="editTopic(dt)">edit</span>
          <span class="with-icon fa fa-trash" (click)="removeTopic(dt)">remove</span>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>

  <!--MODAL DIALOG-->
  <p-dialog class="al-dialog"
            [(visible)]="showTypeEditWindow"
            [resizable]="false"
            [showHeader]="false"
            [modal]="true"
            [dismissableMask]="true">
    <form>
      <div class="al-label-with-input">
        <label for="nameId">Name</label>
        <input type="text" id="nameId" name="name" class="al-input form-control" [(ngModel)]="selectedTopic.name">
      </div>
      <div class="al-label-with-input">
        <label for="tTypeId">Transaction Type</label>
        <p-dropdown
          id="tTypeId"
          class="al-dropdown w300"
          [autoWidth]="false"
          [options]="transactionTypes"
          [(ngModel)]="selectedTransactionType"
          (onFocus)="onTransactionDropdownFocus()"
          name="transactionType"
          placeholder="Transaction Type">
        </p-dropdown>
      </div>
      <div class="al-label-with-input">
        <label for="pParentId">Child of*</label>
        <p-dropdown
          id="pParentId"
          class="al-dropdown w300"
          [autoWidth]="false"
          [options]="availableTopics"
          [(ngModel)]="selectedParentTopic"
          (onFocus)="onParentDropdownFocus()"
          name="parentTopic"
          placeholder="Select Parent Topic">
        </p-dropdown>
      </div>
      <div class="al-label-with-input">
        <label class="with-textarea" for="definitionId">Definition</label>
        <div class="al-editor" id="definitionId" [innerHTML]="'<b>' + (selectedTopic.displayDefinition || '') + '</b>'" ></div>
      </div>
      <div class="toolbar">
        <p-dropdown
          class="al-dropdown w300"
          [autoWidth]="false"
          [options]="availableProvisions"
          [(ngModel)]="selectedProvision"
          (onChange)="insertProvision(selectedProvision)"
          (onFocus)="onProvisionDropdownFocus()"
          name="provision"
          placeholder="Provisions">
        </p-dropdown>
      </div>

      <button class="btn" (click)="clearDefinition()">Clear</button>
      <button type="submit" class="btn btn-primary al-button" (click)="saveTopic(selectedTopic)">
        {{selectedTopic?.id ? 'Save Topic' : 'Create New Topic'}}
      </button>
    </form>
  </p-dialog>
</div>
