@import '../../../../assets/styles/variables.scss';

.analyze-results {
  text-align: center;
  max-width: 1000px;
  display: block;
  margin: 5% auto;
  .panel {
    width: 350px;
    display: inline-block;
    margin: 10px;
  }
}

label {
  display: block;
}


.sections > div {
  overflow: hidden;
  overflow-y: auto;
}

.sections > .col-xs-4 {
  margin-top: 25px;
  min-width: 350px;
}

.analyze-results .panel {
  vertical-align: top;
}

.tree .text-with-button {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  background-color: $al-blue_30;
  padding: 5px;
  a {
    position: absolute;
    width: 45px;
    right: 5%;
    margin-top: 1px;
  }
  label {
    overflow: hidden;
    max-width: calc(100% - 45px) !important;
  }
}
