<div class="container-fluid analyze-results al-margin-top">
  <div class="panel panel-default">
    <div class="panel-heading almond-blue-background">This is a <b>{{transactionType.name}}</b> Transaction: </div>
    <div class="panel-body">
      <div class="text-with-button" *ngFor="let file of analyseList?.files">
        <label class=" col-xs-10">{{file.file_name}}</label>
        <a class="btn btn-warning btn-xs pull-right  col-xs-2" [routerLink]="['/analyze/document', file.document_content_id]">View</a>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading almond-blue-background">
      Topics
      <a class="btn btn-warning btn-xs pull-right" [routerLink]="['/analyze/topic']">See Details</a>
    </div>
    <div class="panel-body tree">
      <p-treeTable [value]="topicsTree" styleClass="tree-table-no-header">
        <p-column>
          <ng-template let-col let-node="rowData" let-i="rowIndex" pTemplate="body">
            <div class="text-with-button">
              <label  class=" col-xs-10">{{getTopicName(node.data.topic_id)}}</label>
              <a class="btn btn-warning btn-xs pull-right  col-xs-2" (click)="navigateToTopicView(node.data)">View</a>
            </div>
          </ng-template>
        </p-column>
      </p-treeTable>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading almond-blue-background">
      Notable Matters
      <a class="btn btn-warning btn-xs pull-right" [routerLink]="['/analyze/notable-matter']">See Details</a>
    </div>
    <div class="panel-body">
      <div *ngFor="let nm of allNotableMatters" class="text-with-button">
        <label  class=" col-xs-10">{{getNotableMatterName(nm.notable_matter_id)}}</label>
        <a class="btn btn-warning btn-xs pull-right  col-xs-2" (click)="navigateToNotableMatterView(nm)">View</a>
      </div>
    </div>
  </div>
</div>


