@import './variables.scss';
@import './viewer.scss';

body {
  overflow-x: hidden;
}

.container {
  margin: auto 100px;
}

.right {
  text-align: right;
}

.mat-simple-snackbar {
  font-size: 16px;
}

.error-snackbar {
  background-color: #ffa38a !important;
}
.error-snackbar > .mat-simple-snackbar,
.error-snackbar  .mat-simple-snackbar-action {
  color: #a40016;
}

.success-snackbar {
  background-color: #c6ffb3 !important;
}
.success-snackbar  > .mat-simple-snackbar,
.success-snackbar   .mat-simple-snackbar-action {
   color: #174401;
 }

.warning-snackbar {
  background-color: #ece0b6 !important;
}
.warning-snackbar  > .mat-simple-snackbar,
.warning-snackbar   .mat-simple-snackbar-action {
   color: #54541d;
 }


.al-container {
  margin: 15% 5%;
}

.al-button {
  margin: 10px auto;
}

.al-left {
  text-align: left;
}

.al-center {
  text-align: center;
}

.al-right {
  text-align: right;
}

.al-table th {
  background-color: $al-blue !important;
  color: white !important;
  padding: 5px !important;
}

.al-table .ui-datatable-even {
  background-color: #cfd5ea !important;
}

.al-table .ui-datatable-odd {
  background-color: #e9ebf5 !important;
}

.al-table .toolbar-column {
  text-align: right !important;
}

span.with-icon {
  margin: auto 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.with-icon:before {
  margin: 3px;
}

span.with-icon:hover {
  cursor: pointer;
}

.al-dialog .ui-dialog-content {
  overflow: visible;
}

.al-dialog .ui-dialog {
  z-index: 1000 !important;
}

.al-dialog form {
  min-width: 350px;
}

.al-label-with-input {
  display: table;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  margin: 10px auto;
}

.al-label-with-input > label, .al-label {
  background-color: $al-blue !important;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  display: table-cell;
}

.al-label-with-input > label.with-textarea {
  display: inline-block;
  width: initial;
  vertical-align: top;
}

.al-label-with-input > textarea {
  width: 390px !important;
  resize: none;
}

.al-label-with-input .al-input {
  display: table-cell !important;
  margin-left: 5px;
  width: 100%
}

.al-editor {
  display: table-cell !important;
  background-color: lightgray;
  width: 415px;
  border-radius: 10px;
  border: $al-thin-border;
  padding: 5px;
}

.al-editor > u {
  display: inline-block;
  margin: 0 3px;
  font-style: italic;
}

.al-editor > b {
  display: inline-block;
  margin: 0 5px;
}

.al-dropdown.w150 .ui-dropdown {
  width: 150px;
  margin-left: 5px;
}

.al-dropdown.w300 .ui-dropdown {
  width: 300px;
  margin-left: 10px;
}

.al-dropdown.w360 .ui-dropdown {
  width: 360px;
  margin-left: 10px;
}

.al-dropdown .ui-dropdown-label {
  text-align: left;
}

.ui-widget-overlay.ui-dialog-mask {
  z-index: 500!important;
}

.al-definition > .toolbar > button {
  margin: auto 5px;
}

.ui-datatable .ui-datatable-loading-content {
  top: 50% !important;
}

.ui-datatable-loading-content > i:before {
  content: "\F1CE";
  color: $al-blue;
}

.al-dialog.document-type  .ui-dialog-content {
  padding: 0 !important;
}

.tree-table-no-header thead {
  display: none;
}

.almond-blue-background {
  background-color: $al-blue !important;
  color: white !important;
}

.almond-disabled:hover {
  cursor: not-allowed !important;
}

.tree .ui-treetable-data.ui-widget-content {
  border: none;
}

.top-menu {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  background-color: $al-blue;
  z-index: 1005;
  > a {
    display: inline-block;
    font-size: 14px;
    white-space: normal;
    margin: auto 10px;
    color: $white;
  }
}

.al-container.al-margin-top {
  margin: 40px 10px 0;
  width: 100%;
}

.mark, mark {
  padding: 0 1px 4px 1px;
  background-color: #6b6b00;
  color: transparent;
}
.al-back-btn {
  margin-bottom: 10px;
}
