<div class="al-container p-records">
  <p-dataTable class="al-left al-table" [value]="records" [loading]="recordsLoading">
    <p-column header="In document">
      <ng-template let-col let-dt="rowData" pTemplate="body">
        <span>{{getDocumentRecordName(dt.in_document_record)}}</span>
      </ng-template>
    </p-column>
    <p-column field="selected_text" header="Selected Text"></p-column>
    <p-column header="Actions" [style]="{'width':'250px'}">
      <ng-template let-col let-dt="rowData"  pTemplate="body">
        <div class="toolbar-column" >
          <span class="with-icon fa fa-eye" [routerLink]="['/training/labeling', dt.in_document_record, dt.id]" >view</span>
          <span class="with-icon fa fa-trash" (click)="removeRecord(dt)">remove</span>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
